h1,
h2,
p {
  font-family: Helvetica, sans-serif;
}
header h1 {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url(./resources/pattern.jpeg);
}

span {
  font-weight: bold;
  color: blue;
}

.sectionTitle {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.subtitle {
  font-size: 22px;
}

#Brushes {
  background-color: mediumspringgreen;
}

#Frames {
  background-color: lightcoral;
}

#Paint {
  background-color: skyblue;
}
